src/main/resources/service/CustomerService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:mes="http://www.alainn.com/SOA/message/1.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Customer" xmlns:tns="http://www.alainn.com/SOA/service/Customer/1.0" targetNamespace="http://www.alainn.com/SOA/service/Customer/1.0">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.alainn.com/SOA/message/1.0" schemaLocation="SOA-Message-1.0.xsd" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="addNotificationPreferences">
		<wsdl:part element="mes:addNotificationPreferences" name="parameters" />
	</wsdl:message>
	<wsdl:message name="addNotificationPreferencesResponse">
		<wsdl:part element="mes:addNotificationPreferencesResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="saveCustomer">
		<wsdl:part element="mes:saveCustomer" name="parameters" />
	</wsdl:message>
	<wsdl:message name="saveCustomerResponse">
		<wsdl:part element="mes:saveCustomerResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getCustomer">
		<wsdl:part element="mes:getCustomer" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getCustomerResponse">
		<wsdl:part element="mes:getCustomerResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="addLoyaltyPoints">
		<wsdl:part element="mes:addLoyaltyPoints" name="parameters" />
	</wsdl:message>
	<wsdl:message name="addLoyaltyPointsResponse">
		<wsdl:part element="mes:addLoyaltyPointsResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="addMobileToken">
		<wsdl:part element="mes:addMobileToken" name="parameters" />
	</wsdl:message>
	<wsdl:message name="addMobileTokenResponse">
		<wsdl:part element="mes:addMobileTokenResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="Customer">
		<wsdl:operation name="addNotificationPreferences">
			<wsdl:input message="tns:addNotificationPreferences" />
			<wsdl:output message="tns:addNotificationPreferencesResponse" />
		</wsdl:operation>
		<wsdl:operation name="saveCustomer">
			<wsdl:input message="tns:saveCustomer" />
			<wsdl:output message="tns:saveCustomerResponse" />
		</wsdl:operation>
		<wsdl:operation name="getCustomer">
			<wsdl:input message="tns:getCustomer" />
			<wsdl:output message="tns:getCustomerResponse" />
		</wsdl:operation>
		<wsdl:operation name="addLoyaltyPoints">
			<wsdl:input message="tns:addLoyaltyPoints" />
			<wsdl:output message="tns:addLoyaltyPointsResponse" />
		</wsdl:operation>
		<wsdl:operation name="addMobileToken">
			<wsdl:input message="tns:addMobileToken" />
			<wsdl:output message="tns:addMobileTokenResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CustomerSoap" type="tns:Customer">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="addNotificationPreferences">
			<soap:operation soapAction="http://www.alainn.com/SOA/service/Customer/1.0/addNotificationPreferences" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="saveCustomer">
			<soap:operation soapAction="http://www.alainn.com/SOA/service/Customer/1.0/saveCustomer" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getCustomer">
			<soap:operation soapAction="http://www.alainn.com/SOA/service/Customer/1.0/getCustomer" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addLoyaltyPoints">
			<soap:operation soapAction="http://www.alainn.com/SOA/service/Customer/1.0/addLoyaltyPoints" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addMobileToken">
			<soap:operation soapAction="http://www.alainn.com/SOA/service/Customer/1.0/addMobileToken" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CustomerService">
		<wsdl:port binding="tns:CustomerSoap" name="CustomerPort">
			<soap:address location="http://www.alainn.com" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
